  .card {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 5px;
    box-shadow: -10px 10px 10px 0px rgba(155, 55, 44, 0.425);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: max-content;
    margin-bottom: 5%;
  }

  .head {
    border-radius: 10px;
  }

  .card:hover {
    transform: scale(1.02);
    box-shadow: -10px 10px 10px 0px rgba(155, 55, 44, 0.502);
    animation-duration: 3s;
  }

  .card h4 {
    padding: 5px 0px 4px 0px;
    font-family: 'IRANSANS';
    color: rgb(138, 96, 5);
    font-size: 17px;
  }

  .title {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(222, 152, 2);
  }

  .title img {
    width: 10% !important;
    margin-inline-end: 2%;
  }

  .card hr {
    display: block;
    border: none;
    height: 3px;
    background: linear-gradient(to right, rgb(235, 212, 163) 60%, rgb(222, 152, 2) 100%);
    margin: 0px;
  }

  .classbtn {
    margin-top: 3%;
    padding-inline: 20%;
  }

  .surveis {
    color: white;
    background-color: rgb(197, 85, 67);
    ;
  }

  .session {
    color: rgb(94, 77, 10);
    background-color: rgb(215, 189, 84);
  }

  .setting {
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    text-align: end;
    margin-inline-end: 5%;
    background-color: rgb(222, 152, 2);
    ;
    color: aliceblue;
    padding: 5px !important;
  }

  .setting :hover {
    color: #4b0907 !important;
    transform: scale(1.02);
    animation-duration: 3s;
  }

  .content h5 {
    font-size: 13px;
    font-weight: bold !important;
    color: #b08e1e;
  }

  .content strong {
    font-size: 15px;
    color: #786200;
  }

  .content h5 {
    font-weight: bold;
  }

  .column {
    font-family: 'IRANSANS';
  }

  .sessionrow {
    background-color: #ffc1085a;
  }

  .sessions {
    color: #725a0f
  }

  .negetive {
    color: red;
  }

  .v-list {
    font-size: 12px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    right: -4vw;
  }

  .v-list-item {
    min-width: 8vw
  }

  .v-list-item:hover {
    background-color: #edb61051;
  }

  .v-label {
    color: #06514a !important
  }

  .surveyrow {
    background-color: rgba(236, 119, 76, 0.466);
  }

  .smallsession {
    border: #725a0f 3px solid;
    margin: 5px;
    width: 263px !important;
  }
  .practicecols{
    background-color: #0e675e;
    color: white;
  }
  .practiserow{
    background-color: rgba(29, 202, 185, 0.199);
    height: auto;
  }