.card{
    width:100%;
    margin:10px;
    border-radius:10px;
    box-shadow:2px 5px 6px 0px rgba(113, 9, 9, 0.313)
}

.title{
    color:rgba(199, 5, 5, 0.822)
}
.credit{
    width:80% !important;
    margin-inline:auto;
    margin-top:10px;
    color:rgba(109, 5, 5, 0.822)
}
.creditbtn{
    background-color:rgb(109, 5, 5) ;
    color: aliceblue;
    padding-inline: 5% !important;
    margin-inline: auto !important;
    display: flex;
}