.creditcardbtn{
    width:100% !important;
    min-height:50% !important;
    border-radius: 10px;
    border: #135040 4px solid;
    background-color : #135040
}
.creditcard{
  width:100% !important;
  min-height:50% !important;
  border-radius: 10px;
  border: #009E60 4px solid;
  background-color :#009E60
}
.creditcardimg{
    padding-inline-end: 0% !important;
}
.creditcardimg img {
    width: 80%;height: 90% !important;
}
.chargecard{
    width:100% !important;
    min-height:50% !important;
    border-radius: 10px;
    border:  #24846a 4px solid;
    background-color :  #24846a
}
.chargecardimg{
    padding-inline-end: 0% !important;
}
.chargecardimg img {
    width: 80%;height: 90% !important;
}
.v-main{
  overflow-y: auto !important;
}
.tablerow{
  color:#24846a !important;
}
.tablerowdark{
  background-color: #24846a37;
  color:#24846a !important;
}
.table{
  box-shadow: 1px 1px 10px ;
}