.card{
    width:100%;
    margin:10px;
    border-radius:10px;
    box-shadow:2px 5px 6px 0px #13504062
}

.title{
    color:#135e4a
}
.credit{
    width:80% !important;
    margin-inline:auto;
    margin-top:10px;
    color:#135040
}
.creditbtn{
    background-color:#135040 ;
    color: aliceblue;
    padding-inline: 5% !important;
    margin-inline: auto !important;
    display: flex;
}