@font-face {
    font-family: 'IRANSANS';
    src: url(../fonts/farsi/num.ttf);
   }

   .center-class{
    display: flex;
    justify-content: center;
   }
   .v-card-subtitle{
    font-family: 'IRANSANS' !important;
  }
.v-btn__content{
  font-family:  'IRANSANS';
}
   .swal2-html-container,.swal2-styled,.swal2-title{
    font-family: 'IRANSANS' ;
    direction: rtl;
   }
   @keyframes bounceIn {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    60% {
      transform: scale(1.02);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes bounceroghttoleft {
    0% {
      transform: scale(.6);
      left: 350px;
      opacity: 0;
    }
    50% {
      transform: scale(1);
      left: 50px;
      opacity: 1;
    }
    100% {
      left: 0px;
      transform: scale(1);
    }
  }
  
  @keyframes bouncerleft {
    0% {
      transform: scale(.6);
      right : 150px;
      opacity: 0;
    }
    50% {
      transform: scale(.9);
      right: 50px;
      opacity: 1;
    }
    100% {
        transform: scale(1);
        right: 0px;
    }
  }
  .v-btn {
    letter-spacing:0 !important
}