.s1img{
  padding-inline-end: 30%;
  width: 60% !important;
  height: fit-content;
}
  .classcard{
    box-shadow: 5px 10px 20px #564e4e;
    border-radius: 5% !important;
    width: 80%;
    /* animation-duration: 3s; */
    /* animation-name: bounceIn;
    animation-direction: alternate; */
  }
  .classcard:hover{
    box-shadow: 10px 15px 15px hsl(0, 6%, 16%);
  }
  .mybtn{
    background-color: #5b1505 !important;
    padding: 3% !important;
    color: aliceblue;
    border-radius: 15px;
  }
  .detail{
    height: 100%;
    font-size: 25px;
    padding-top: 5%;
    padding-bottom: 6%;
    min-width: 80%;
    font-weight: bold;
    font-family: 'IRANSANS';
    color: #a03e23;
    border: 3px solid #da3e14;
    box-shadow: 2px 2px 9px #a03e23;
  }
 
  .sectionheader{
    font-size:30px;
    margin-top: 3%;
    margin-bottom: 1%;
    padding-bottom: 1%;
    color: #5b1505;
  }
  .detail p{
      font-family: 'IRANSANS' !important;
      font-weight: bold;
      font-size: 20px !important;
      color: #5b1505;
  }
  
  .s2{
    margin-top: 5%;
    background: url(../img/vialon.jpg);
    background-size: cover;
    padding: 4%;
    }

    .s3{
      margin-top: 5%;
    }

    .s4{
      min-height: 10vh;
      background-color: #000000cd;
    }
    .s4 .v-row{
      padding: 3%;
    }